.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: 50px 1fr 1fr;
}
h1 {
  grid-column: 2 / span 3;
  grid-row: 1;
  justify-self: center;
}
.Stundas {
  grid-row: 2;
  grid-column: 2;
}
ul {
  display: grid;
}
li {
  padding: 2px;
  border: 2px solid black;
  border-bottom: none;
  list-style: none;
  width: 100%;
}
li:last-child {
  border: 2px solid;
}
.kab {
  display: inline-block;
  font-size: 12px;
  width: 30%;
  margin: 0px;
}
.stun {
  display: inline-block;
  width: 70%;
  margin: 0px;
}
